@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: black;
  font-weight: 600;
}

.App {
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

header {
  background-color: #d4ebf0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 1vw 4vw;
  position: sticky;
  top: 0;
}

.home {
  margin: auto 0;
}

.product-page, .home {
  overflow-y: auto;
}

.logo {
  color: black;

  display: flex;
  align-items: center;
  gap: 20px;
}

.logo h3 {
  font-size: 3rem;
}

.logo img {
  width: 70px;
  height: auto;
}

nav {
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 5vw;
  justify-content: center;
  align-items: center;
}

nav a {
  padding: 5px 10px;
}

.active {
  outline: 2px solid black;
  border-radius: 5px;
}

.nav-checkout {
  color: black;
  font-size: 1.75rem;
  justify-self: flex-end;

  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-icon {
  border: 2px black solid;
  height: fit-content;
  width: auto;
  aspect-ratio: 1/1;
  padding: 15px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.basket-counter {
  padding: 5px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: #d4ebf0;
  border: 1px black solid;
  position: absolute;
  bottom: 35px;
  left: 35px;
  font-size: 1.3rem;
  height: auto;
  width: 37px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-counter p {
  position: relative;
  bottom: 1px;
  left: 1px;
}

.tagline {
  display: flex;
  justify-content: center;
  padding: 1vw 0;
}

.hero {
  color: black;
  font-size: 5rem;
  width: fit-content;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  overflow: hidden;
}

h1 small {
  font-size: 2.5rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-right {
  background-color: #d4ebf0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 80px 100%);
  padding: 2.5vw;
  padding-left: 4vw;
}

.values{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  padding: 1vw 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
}

.info-card {
  border: 1px #d4ebf0 solid;
  border-bottom: 8px #d4ebf0 solid;
  border-radius: 40px;
  padding: 1vw;
  align-self: center;
  justify-self: center;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.info-card img {
  height: 150px;
  width: auto;
}

footer {
  background-color: #d4ebf0;
  height: 6vh;
}

.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr ) ;
  align-self: center;
  grid-column: 2 / 3;
  padding: 2vw;
  gap: 2vw;
}

.product {
  padding: 1vw;
  border: 1px #d4ebf0 solid;
  border-bottom: 8px #d4ebf0 solid;
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.product img {
  height: 150px;
  width: auto;
}

.price {
  font-weight: 800;
  font-size: 2rem;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

}

.widget-svg {
  width: 20px;
  height: auto;
}

.add-basket {
  background-color: #d4ebf0;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: 500;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.add-basket:hover {
  background-color: #7298a0;
  color: white;
}

.quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.change-quantity {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: 10px;
  transition-duration: 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-input {
  aspect-ratio: 1 / 1;
  text-align: center;
  width: 40px;
  font-size: 1.5rem ;
  border-radius: 50%;
  border: 2px black solid;
  margin-left: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.change-quantity:hover {
  background-color: #7298a0;
  color: white;
}

label {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkout {
  padding: 1vw 4vw;
  overflow-y: auto;
 
}

.basket {
  background-color: #d4ebf0;
  padding: 20px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.checkout h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.checkout-item {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 5vw;

  border: 2px #7298a0 solid;
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
}

.checkout-item img {
  width: auto;
  height: 100px;
  justify-self: center;
}

.checkout-left {
  display: grid;
  grid-template-columns: 1fr 3fr auto;
  align-items: center;
}

.checkout-right p {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkout-right {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr auto;
  align-items: center;
  justify-content: flex-end;
}

.remove-from-basket {
  background: none;
  border: none;
  color: rgb(240, 63, 63);
  cursor: pointer;
}

